Screen {
    background: #282a36;
    color: #f8f8f2;
}

Header {
    background: #44475a;
    color: #f8f8f2;
}

Footer {
    background: #282a36;
}

ListView > ListItem.--highlighted {
    background: #bd93f9;
    color: #f8f8f2;
}

ListItem:hover {
    background: #6272a4;
}

HeadlineItem > Horizontal > .headline-section {
    color: #f8f8f2;
}

HeadlineItem > Horizontal > .headline-flag {
    color: #bd93f9;
}

HeadlineItem > Horizontal > .headline-title {
    color: #f8f8f2;
}
