Screen {
    background: #111c18;
    color: #C1C497;
}

Header {
    background: #23372B;
    color: #C1C497;
}

Footer {
    background: #23372B;
}

ListView > ListItem.--highlighted {
    background: #549e6a;
    color: #111c18;
}

ListItem:hover {
    background: #53685B;
}

HeadlineItem > Horizontal > .headline-section {
    color: #C1C497;
}

HeadlineItem > Horizontal > .headline-flag {
    color: #549e6a;
}

HeadlineItem > Horizontal > .headline-title {
    color: #C1C497;
}
