$background: #111c18;
$surface: #23372B;
$primary: #549e6a;
$text: #C1C497;
$text-muted: #53685B;

Screen {
    background: $background;
    color: $text;
}

Header {
    background: $surface;
    color: $text;
}

Footer {
    background: $surface;
}

ListView > ListItem.--highlighted {
    background: $primary;
    color: $background;
}

ListItem:hover {
    background: $text-muted;
}

HeadlineItem > Horizontal > .headline-section {
    color: $text;
}

HeadlineItem > Horizontal > .headline-flag {
    color: $primary;
}

HeadlineItem > Horizontal > .headline-title {
    color: $text;
}
