
Screen {
    background: #191724;
    color: #e0def4;
}

Header {
    background: #31748f;
    color: #e0def4;
}

Footer {
    background: #1f1d2e;
}

ListView > ListItem.--highlighted {
    background: #eb6f92;
    color: #e0def4;
}

ListItem:hover {
    background: #26233a;
}
