/* Adwaita Dark Theme */
$background: #242424;
$surface: #303030;
$primary: #3584e4; /* Blue */
$secondary: #33d17a; /* Green */
$accent: #16a085; /* Teal */
$warning: #f6d32d; /* Yellow */
$error: #e01b24; /* Red */
$text: #eeeeec;
$text-muted: #888888;

Screen {
    background: $background;
    color: $text;
}

Header, Footer {
    background: $surface;
    color: $text;
}

#left, #right {
    border: round $primary;
}

ListView > ListItem.--highlighted {
    background: $primary;
    color: $text;
    text-style: bold;
}

ListItem:hover {
    background: lighten($surface, 10%);
}

DataTable {
    border: tall $primary;
}

DataTable:focus {
    border: tall $accent;
}

Input {
    border: tall $surface;
    background: $background;
}

Input:focus {
    border: tall $accent;
}

Button {
    background: $primary;
    color: $text;
}

Button:hover {
    background: $primary-lighten-1;
}

MarkdownH1, MarkdownH2, MarkdownH3, MarkdownH4 {
    background: $surface;
    border: round $primary;
    color: $primary;
}

MarkdownBlockquote {
    background: lighten($background, 5%);
    border-left: thick $secondary;
}

MarkdownCodeBlock {
    background: lighten($background, 5%);
    border: round $surface;
}
