/* Hacker Theme */
$background: #0d1117;
$surface: #161b22;
$primary: #00e0e0; /* Cyan */
$secondary: #008080; /* Teal */
$accent: #00e0e0;
$warning: #e2a900;
$error: #e5534b;
$text: #c9d1d9;
$text-muted: #8b949e;

Screen {
    background: $background;
    color: $text;
}

Header, Footer {
    background: $surface;
    color: $text;
}

#left, #right {
    border: round $primary;
}

ListView > ListItem.--highlighted {
    background: $primary;
    color: $background;
    text-style: bold;
}

ListItem:hover {
    background: $text-muted;
    color: $background;
}

DataTable {
    border: tall $primary;
}

DataTable:focus {
    border: tall $accent;
}

Input {
    border: tall $surface;
    background: $background;
}

Input:focus {
    border: tall $accent;
}

Button {
    background: $primary;
    color: $background;
}

Button:hover {
    background: $primary-lighten-1;
}

MarkdownH1, MarkdownH2, MarkdownH3, MarkdownH4 {
    background: $surface;
    border: round $primary;
    color: $primary;
}

MarkdownBlockquote {
    background: $background;
    border-left: thick $secondary;
}

MarkdownCodeBlock {
    background: $background;
    border: round $surface;
}
