/* Osaka Jade Theme */
$background: #111c18;
$surface: #23372B;
$primary: #549e6a; /* Jade Green */
$secondary: #84A98C; /* Light Green */
$accent: #AECFA4; /* Lighter Green */
$warning: #FFC107; /* Amber */
$error: #E57373; /* Light Red */
$text: #C1C497;
$text-muted: #53685B;

Screen {
    background: $background;
    color: $text;
}

Header, Footer {
    background: $surface;
    color: $text;
}

#left, #right {
    border: round $primary;
}

ListView > ListItem.--highlighted {
    background: $primary;
    color: $background;
    text-style: bold;
}

ListItem:hover {
    background: $text-muted;
}

DataTable {
    border: tall $primary;
}

DataTable:focus {
    border: tall $accent;
}

Input {
    border: tall $surface;
    background: $background;
}

Input:focus {
    border: tall $accent;
}

Button {
    background: $primary;
    color: $background;
}

Button:hover {
    background: $primary-lighten-1;
}

MarkdownH1, MarkdownH2, MarkdownH3, MarkdownH4 {
    background: $surface;
    border: round $primary;
    color: $primary;
}

MarkdownBlockquote {
    background: $surface;
    border-left: thick $secondary;
}

MarkdownCodeBlock {
    background: $surface;
    border: round $text-muted;
}
